.main-nav-toggle {
    display: none;
}

.main-nav-toggle:checked {
    
    & ~ .main-header {
        
        & .main-header__main-nav-container{
        transform: translateY(250px);
        }

        & .hamburger-button__top-bread{
            top: 45%;
            transform: rotate(45deg);
            transition: all .5s;
        }
        
        & .hamburger-button__meat{
            opacity: 0;
            transition: all .5s;
        }
        
        & .hamburger-button__bottom-bread{
            transform: rotate(-45deg);
            bottom: 45%;
            transition: all .5s;
        }
    }

    
    
}
