

<section class="section-cards">
    <header class="section-cards__header">
        <h1 class="section-cards__heading">JUGUETERÍA COSMICA</h1>
    </header>

    <!-- las imágenes que muestra el slider son de prueba, la idea es que en esos lugares vayan banners de publicidad. -->
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel__btn-next" id="next">&#10095</div>
            <div class="carousel__btn-prev" id="prev">&#10094</div>
            <div class="carousel__slider">
                <div class="carousel__item">
                    <img src="css/img/avengers.png" alt="" class="carousel__img">
                </div>
                <div class="carousel__item">
                    <img src="css/img/rodados.png" alt="" class="carousel__img">
                </div>
                <div class="carousel__item">
                    <img src="css/img/logo.png" alt="" class="carousel__img">
                </div>
            </div>
        </div>
    </div>


    <div class="section-cards__icons">
        <div class="section-cards__icon-content">
            <div class="section-cards__icon-container">
                <img src="css/img/delivery_online_icon.png" alt="" class="section-cards__icon">
            </div>
            <p class="section-cards__icon-paragraph">Envíos</p>
            <p class="section-cards__icon-paragraph">A todo el país</p>
        </div>
        <div class="section-cards__icon-content">
            <div class="section-cards__icon-container">
                <img src="css/img/wallet_icon.png" alt="" class="section-cards__icon">
            </div>
            <p class="section-cards__icon-paragraph">Todos</p>
            <p class="section-cards__icon-paragraph">los medios de pago</p>
        </div>
        <div class="section-cards__icon-content">
            <div class="section-cards__icon-container">
                <img src="css/img/message_support_icon.png" alt="" class="section-cards__icon">
            </div>
            <p class="section-cards__icon-paragraph">Atención al cliente</p>
            <p class="section-cards__icon-paragraph">Personalizada</p>
        </div>
        <div class="section-cards__icon-content">
            <div class="section-cards__icon-container">
                <img src="css/img/shopping_store_icon.png" alt="" class="section-cards__icon">
            </div>
            <p class="section-cards__icon-paragraph">Retiros</p>
            <p class="section-cards__icon-paragraph">En sucursales</p>
        </div>
    </div>



    <!-- <h2 class="section-cards__heading-sale">Disfrutá nuestras mejores ofertas</h2> -->

    <!-- <div class="section-cards__sale-container"></div> -->
    <!-- TODO Falta filtrar para cargar los productos de oferta. -->

    


    <div class="section-cards__promotion">
        <div class="section-cards__promotion-img-container">
            <img src="css/img/logo.png" alt="" class="section-cards__promotion-img">
        </div>
        <div class="section-cards__promotion-paragraph-container">
            <p class="section-cards__promotion-paragraph">Hasta 6 cuotas sin interes!</p>
            <p class="section-cards__promotion-paragraph">En nuestros productos seleccionados</p>
        </div>
    </div>



    <!-- <h2 class="section-cards__heading-popular">Los Mas Vendidos!!</h2> -->

    <!-- <div class="section-cards__popular-container"></div> -->
    <!-- TODO Falta filtrar para cargar los productos "mas populares" -->




    <h2 class="section-cards__heading-all-cards">Todos los Productos</h2>

    <div class="section-cards__all-cards-container"></div>




    <h2 class="section-cards__heading-categories">Buscá por Categoría</h2>

    <div class="section-cards__categories-container">

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/muñecos.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Muñecos y muñecas</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/peluches.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Peluches</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/rodados.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Rodados</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/ingenio.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Juegos de Ingenio</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/juego-arte.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Arte y manualidades</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/instrumento.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Instrumentos Musicales</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/juguete-jardin.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Juguetes de jardín</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/juego-de-mesa.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Juegos de Mesa</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/juguete-playa.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Juguetes de playa</p>
        </div>

        <div class="categories">
            <div class="categories__img-container">
                <img src="css/img/juguete-baño.png" alt="" class="categories__img">
            </div>
            <p class="categories__paragraph">Juguetes de baño</p>
        </div>
    </div>

    <h2 class="section-cards__heading-brands">Buscá por Marca</h2>

    <div class="section-cards__brands-container">

        <div class="brands">
            <img src="css/img/avengers.png" alt="" class="brands__img">
        </div>

        <div class="brands">
            <img src="css/img/cars.png" alt="" class="brands__img">
        </div>

        <div class="brands">
            <img src="css/img/hasbro.png" alt="" class="brands__img">
        </div>

        <div class="brands">
            <img src="css/img/lol.png" alt="" class="brands__img">
        </div>

        <div class="brands">
            <img src="css/img/paw-patrol.png" alt="" class="brands__img">
        </div>

        <div class="brands">
            <img src="css/img/toy-story.png" alt="" class="brands__img">
        </div>
        
    </div>


    <footer class="section-cards__footer">
        <p class="section-cards__footer-paragraph">Juguetería Cósmica. 23 años de experciencia y calidad nos avalan.</p>
        <p class="section-cards__footer-paragraph">Todos los juguetes, todas las marcas, en un solo lugar!</p>
    </footer>

    <div class="section-cards__cart-notification">
        <p class="section-cards__cart-notification-paragraph">Producto agregado al carrito con éxito!</p>
    </div>
</section>
