

<div class="main-us-content">

    <h1 class="main__heading">Nosotros</h1>

    <section class="section-us">

        <h2 class="section-us__heading">Quienes Somos???</h2>

        <div class="section-us__content">

            <p class="section-us__paragraph">Somos una empresa que tiene mas de 20 años en el rubro de la venta de
                juguetes.
                Algo que nació como un sueño, se terminó convirtiendo en una realidad; la de poder acompañar a niños y
                niñas
                durante toda su etapa de crecimiento, y poder alcanzarles la mejor calidad de juguetes para que recorran
                con
                ellos todo ese camino.
            </p>

            <div class="section-us__img-container">
                <img class="section-us__img" src="css/img/section-us-img.jpg" alt="">
            </div>

            <p class="section-us__paragraph section-us__paragraph--border-top">Si no sabes que juguete regalar, podes
                acercarte a cualquiera de
                nuestras <a class="section-us__link" href="#"><img class="section-us__icon"
                        src="css/img/shopping_store_icon.png" alt=""
                        title="hacé click acá para conocer nuestras sucursales"> Sucursales</a>
                distribuídas por todo CABA y el AMBA para recibir el mejor asesoramiento; o bien podes contactarnos
                vía<a class="section-us__link" href="mailto: info@jugueteriacosmica.com"><img class="section-us__icon"
                        src="css/img/message_support_icon.png" alt=""> mail</a>
            </p>

            <p class="section-us__paragraph">Contamos con las mejores ofertas en los mejores productos del mercado, y
                siempre acompañados con la mejor
                atención personalizada.
            </p>

        </div>

    </section>

    <section class="section-business">


        <h2 class="section-business__heading">Sos una empresa? Trabajá con nosotros!</h2>

        <div class="section-business__img-container">
            <img src="css/img/section-business-img.jpg" alt="" class="section-business__img">
        </div>

        <p class="section-business__paragraph">Juguetería Cosmica te ofrece un servicio de Ventas Corporativas exclusivo
            para empresas con un amplio
            catálogo de productos; desde juegos de mesa, juguetes, rodados y hasta gift cards. Si trabajás con nosotros
            además te ofrecemos el mejor
            servicio de asesoramiento personalizado: te acompañamos durante toda la compra para que sea realmente lo
            estas buscando y que además
            cumpla con nuestras espectativas.
        </p>

    </section>


    <footer class="footer-us">

        <p class="footer-us__paragraph">Completá nuestro <a class="footer-us__link" href="contacto.html"><img
                    class="footer-us__icon" src="css/img/form-icon.png" alt=""
                    title="hacé click acá para acceder a nuestro formulario de contacto"> formulario</a> para recibir
            las mejores promociones, ofertas, novedades y mucho más!
        </p>

        <p class="footer-us__paragraph">Juguetería Cósmica. Desde 1997 acompañando a nuestros niños en la etapa mas
            importante de su vida.</p>


    </footer>

</div>