.main-footer {

    &__container {
        width: 100%;
        background-color: hsla(0, 0%, 100%, .2);

        @media(min-width: 768px) {
            background-color: hsl(276, 91%, 30%);
        }
        
    }
    
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: .8em;
    
    @media (min-width: 450px) {
        font-size: 1em;
    }
    
    @media (min-width: 768px) {
        flex-wrap: nowrap;
    }

    &__logo-container {
        box-shadow: 0 0 5px 5px hsl(276, 915%, 38%);
        background-color: hsl(276, 915%, 38%);
        padding: 1em;
        display: flex;
        
        @media (min-width: 768px) {
            display: block;
            width: 20%;
            background-color: transparent;
            // box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, .3);
            box-shadow: none;

        }
        
        @media(min-width: 800px) {
            width: 30%;
        }
        
        @media(min-width: 900px) {
            width: 40%;
        }


    }

    &__logo-description {
        padding-left: 1em;
        margin: .8em 0;
        text-shadow:
            0 0 5px hsl(0, 0%, 0%),
            0 0 7px hsl(0, 0%, 80%)
        ;
        color: hsl(0, 0%, 80%);
        
        @media(min-width: 768px) {
            padding-left: 0;
        }
        
    }

    &__heading {
        text-align: center;
        text-shadow:
        0 0 5px hsl(0, 0%, 0%),
        0 0 7px hsl(0, 0%, 80%)
        ;
        color: hsl(0, 0%, 80%);
        flex-basis: 100%;
        margin-bottom: 0;
        
        @media(min-width: 768px) {
            margin-top: 0;
        }
        
    }
    
    &__heading--media {
        flex-basis: 50%;

        @media(min-width: 768px){
            flex-basis: 0%;
        }

    }

    &__link-section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: hsl(229, 83%, 60%);
        box-shadow: 0 0 5px 5px hsl(229, 83%, 60%);

        @media(min-width: 768px) {
            background-color: transparent;
            // box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, .3);
            box-shadow: none;
        }


    }

    &__list {
        margin: 0;
        list-style-type: none;
        padding: 0;

        @media(min-width: 768px) {
            font-size: 0.9em;
        }

        @media(min-width: 800px) {
            font-size: 1em;
        }


        &-item {
            margin: .8em 0;
        }
    }
    
    &__link {
        text-decoration: none;
        text-shadow: 0 0 5px hsl(0, 0%, 0%);
        color: hsl(0, 0%, 80%);
        
        &:active {
            text-shadow: 0 0 7px hsl(0, 0%, 80%);
        }

        &::before{
            content:':';
            font-size: 1.5em;
            padding: .3em;
            

        }
        
    }


    &__buy-section,
    &__help-section {
        padding: 1em;
        margin: auto;

        @media(min-width: 408px) {
            margin: 0;
        }
        

    }
        
    &__social-media {
        background-color: hsl(258, 86%, 34%);
        box-shadow: 0 0 5px 5px hsl(258, 86%, 34%);
        width: 100%;
        display: flex;
        margin: auto;

        @media (min-width: 768px) {
            margin: 0;
            flex-direction: column;
            width: auto;
            padding-top: 1em;
            background-color: transparent;
            // box-shadow: 0 0 5px 2px hsla(0, 0%, 100%, .3);
            box-shadow: none;
        }
        
    }

    &__social-media-content {
        display: flex;
        flex-basis: 100%;
        
    }
    
    &__icon-container {
        flex-basis: 75%;
        align-self: flex-start;
        transform: scale(.5);
        cursor: pointer;
    }
    
}