<div class="contact-content">
    <h1 class="contact-form__heading">Contacto</h1>

    <div class="contact-form-container">

        <form class="contact-form" action="" autocomplete="off">

            <div class="contact-form__row">
                <input class="contact-row__input contact-row__input--type-text" id="name" name="name" autofocus  type="text">
                <label class="contact-row__label" for="name">Nombre:</label>
                <div class="contact-row__error-detail"></div>
            </div>

            <div class="contact-form__row">
                <input class="contact-row__input contact-row__input--type-email" type="text" name="email" id="email">
                <label class="contact-row__label" for="email">Correo electrónico</label>
                <div class="contact-row__error-detail"></div>
            </div>

            <div class="contact-form__row">
                <textarea class="contact-row__textarea contact-row__input--type-text" name="comments" id="comments"></textarea>
                <label class="contact-row__label" for="comments">Comentarios</label>
                <div class="contact-row__error-detail"></div>
            </div>

            <div class="contact-form__btn-row">
                <input class="contact-form__submit-button"data-type="button" type="submit" value="Enviar">
                <input class="contact-form__reset-button"data-type="button" type="reset" value="Restablecer Valores">
            </div>

        </form>

        <footer class="contact-form__footer">

            <div class="contact-footer__telephone-container">
                <h2 class="contact-footer__heading">Teléfono</h2>
                <p class="contact-footer__telephone">011 4545 5028</p>
            </div>

            <div class="contact-footer__mail-container">
                <h2 class="contact-footer__heading">E-Mail</h2>
                <p class="contact-footer__mail">info@jugueteriacosmica.com</p>
            </div>

        </footer>

    </div>

</div>