@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@500;700&family=Square+Peg&display=swap');

// PALETA DE COLORES: https://coolors.co/palette/7209b7-3a0ca3-4361ee-41d3bd-4cc9f0 



body {
    background-image: linear-gradient(
        hsl(258, 86%, 15%),
        hsl(258, 86%, 34%)
        );
    
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}    


.main-content {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;

}

