// PALETA DE COLORES: https://coolors.co/palette/7209b7-3a0ca3-4361ee-41d3bd-4cc9f0 


.register-content {
    margin: 0 auto;
}


::selection {
    background-color: hsl(194, 85%, 62%);
    color: hsl(276, 91%, 38%);

}