.carousel-container {
    position: relative;
    width: 100%;
    display: none;
    
    
    @media (min-width:768px) {
        display: block;
    }
    
}


.carousel {
    overflow: hidden;
    width: 100%;
    background-image: url("img/background-sky.png");
    border-radius: .7em;
    box-shadow: 0 0 5px 4px hsl(276, 91%, 70%);


    &__btn-next,
    &__btn-prev {
        position: absolute;
        top: 50%;
        background-color: hsla(0, 0%, 100%, .8);
        border-radius: 50%;
        padding: .4em;
        font-size: 1.3em;
        cursor: pointer;
        margin: .5em;
        user-select: none;
        z-index: 1;
        
        &:hover {
            background-color: hsla(0, 0%, 100%, .8);
            box-shadow: 0 0 5px hsl(0, 0%, 100%);
        }
        
        &:active {
            box-shadow: 0 0 9px hsl(0, 0%, 100%);
        }
    }
    

    &__btn-next {
        right: 0%;
    }

    &__slider {
        display: flex;
        align-items: center;
        transition: .7s;

        
        &--show-1 {
            transform: translateX(-100%);
            transition: .7s;
        }

        &--show-2 {
            transform: translateX(-200%);
            transition: .7s;
        }
    
        
    }

    &__item {
        flex-shrink: 0;
        display: flex;
        width: 100%;
    }

    &__img {
        display: block;
        width: 100%;
    }



}
